// Load fonts
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

// Font variables
$font-family: 'Press Start 2P', cursive;

// Color variables
$background-color: #353535;
$primary-color: #fff;
$secondary-color: #fad4b3;
$accent-color: #8bbf9f;
$contrast-color: #111;
$warning-color: #9b3636;
